/* Fonts */

@font-face {
  font-weight: 400;
  font-family: "Poppins-Regular";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Poppins-Bold";
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Jost-Regular";
  src: url("../assets/fonts/Jost/static/Jost-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Jost-Bold";
  src: url("../assets/fonts/Jost/static/Jost-Bold.ttf");
}

body {
  width: 1440px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  padding-left: 80px;
  padding-right: 80px;
}

.header h1 {
  margin: 0;
  color: #0E0578;
  font-family: Poppins-Bold;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header-menu {
  display: flex;
  gap: 80px;
  list-style-type: none;
}

.header-menu li {
  color: #686565;
  font-family: Poppins-Regular;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Welcome section */

.welcome-section {
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-container {
  height: 600px;
  width: 1300px;
  display: flex;
  justify-content: space-between;
}

.welcome-text-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: start;
}

.welcome-text-header {
  margin: 0;
  color: #2000E7;
  font-family: Poppins-Regular;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.welcome-text-hi {
  margin: 0;
  width: 447px;
  color: #2000E7;
  font-family: Poppins-Bold;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.welcome-text-hi-span {
  color: #F2BD00;
  font-family: Poppins-Bold;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.welcome-text-subheader {
  margin-top: 20px;
  margin-bottom: 0px;
  width: 616px;
  color: #383838;
  font-family: Poppins-Regular;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.welcome-buttons {
  width: 570px;
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
}

.welcome-button-highlight {
  width: 246px;
  height: 72px;
  border-radius: 10px;
  border: 0px;
  background: #2000E7;
  box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-family: Poppins-Regular;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.welcome-button-regular {
  width: 246px;
  height: 72px;
  border-radius: 10px;
  border: 2px solid #2000E7;
  background: rgba(32, 0, 231, 0.04);
  box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);
  color: #2000E7;
  font-family: Poppins-Regular;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.welcome-portrait {
  width: 564px;
  height: 564px;
  flex-shrink: 0;
  border-radius: 0px 0px 0px 191px;
  background: url("../assets/images/9d7ea24f2fb50c234a01f0b8a6601388.jpeg"), lightgray 50% / cover no-repeat;
  background-position: center;
  background-size: 150%;
  box-shadow: 36px -32px 0px 0px rgba(135, 117, 249, 0.50);
}

/* About section */

.about-section {
  height: 925px;
  background: rgba(67, 186, 253, 0.06);
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-text h1 {
  margin: 0;
  color: #2000E7;
  font-family: Poppins-Bold;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 16.8px;
}

.about-text p {
  width: 415px;
  height: 303px;
  flex-shrink: 0;
  color: #000;
  font-family: Poppins-Regular;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-button {
  width: 246px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 0;
  background: #2000E7;
  box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-family: Poppins-Regular;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-image img {
  width: 925px;
  height: 925px;
  flex-shrink: 0;
}

/* Projects section */

.projects-section {
  display: flex;
  flex-direction: column;
  height: 920px;
  background: rgba(255, 214, 150, 0.20);
}

.projects-section-header {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-section-header h1 {
  margin: 0;
  color: #3B1FEA;
  font-family: Poppins-Bold;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 9.6px;
}

.projects-section-header p {
  margin: 0;
  color: #000;
  font-family: Poppins-Regular;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.projects-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}

.projects-image-row {
  display: flex;
  gap: 200px;
}

.projects-image-row img {
  width: 246px;
  height: 180px;
  flex-shrink: 0;
  border-radius: 6px;
}

/* Contact form */

.contact-section {
  height: 1316px;
  background: rgba(67, 186, 253, 0.06);
  display: flex;
  flex-direction: column;
}

.contact-section-header {
  margin-top: 67px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section-header h1 {
  margin: 0;
  color: #220BE8;
  font-family: Poppins-Bold;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 17.28px;
}

.contact-section-header p {
  color: #000;
  margin: 0;
  font-family: Poppins-Regular;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-container {
  display: flex;
}

.contact-form {
  padding-top: 179px;
  padding-left: 66px;
  width: 653px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input {
  border: 0;
  width: 557px;
  height: 94px;
  margin-bottom: 81px;
  padding-left: 48px;
  padding-right: 48px;
  background: #FFF;
  box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: Poppins-Regular;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-form textarea {
  width: 557px;
  height: 265px;
  margin-bottom: 49px;
  padding: 29px 48px;
  border: 0;
  resize: none;
  background: #FFF;
  box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: Poppins-Regular;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-form button {
  width: 327px;
  height: 94px;
  flex-shrink: 0;
  background: #FFF;
  border: 0;
  box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: Poppins-Regular;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-image {
  margin-left: -120px;
  width: 958px;
  height: 958px;
  flex-shrink: 0;
}

/* Footer */

footer {
  background-color: rgba(255, 214, 150, 0.20);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-block {
  display: flex;
  justify-content: center;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-form-header {
  color: #0E0578;
  font-family: Poppins-Bold;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 16.8px;
}

.subscribe-form-container {
  position: relative;
  width: 440px;
}

.subscribe-form-input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 257px;
  height: 97px;
  padding-left: 33px;
  padding-right: 33px;
  border: 0px;
  border-radius: 30px;
  background: #000;
  color: #FFF;
  font-family: Jost-Bold;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subscribe-form-submit {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 178px;
  height: 99px;
  border-radius: 30px;
  border: 0px;
  background: #F965FC;
  color: #FFF;
  font-family: Jost-Bold;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-links {
  display: flex;
  gap: 100px;
  flex-wrap: wrap; 
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: #000;
  font-family: Jost-Regular;
  font-size: 31px;
  font-style: normal;
  line-height: normal;
}

.footer-links li {
  padding-top: 30px;
}

.footer-links ul li:first-child {
  font-weight: bold;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright-border {
  width: 1334px;
  height: 3px;
  background: #000;
}

.copyright-credentials {
  display: flex;
  width: 100%;
}

.copyright-credentials p {
  margin-top: 80px;
  margin-left: 46px;
  color: #000;
  font-family: Jost-Regular;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}